#devkit-results {
  display: flex;
  gap: 15px;
  flex-direction: column;
  margin-top: 25px;
}

.field .guide {
  position: absolute;
  top: 0px;
  right: 0px;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

#logger, .field .guide {
  font-size: 0.7em;
  color: var(--font-color-dark);
}

.field:has(input:invalid) .guide {
  opacity: 1;
}