#root > main > main {
  color: black;
  background: white;
  border-top-left-radius: 35px;
}

#root > main > nav {
  display: flex;
  flex-direction: column;
  width: 210px;
  height: calc(100% - 20px);
  justify-content: flex-start;
  gap: 10px;
  padding: 10px 40px;
  padding-left: 55px;
  align-items: flex-start;
}

#root > main {
  padding: 0px;
  display: flex;
  width: 100%;
  height: calc(100% - var(--nav-height));
}

#root > main > main > nav {
  gap: 10px;
}


#root > main > main > nav > * {
  margin: 0px;
  max-width: 300px;
}

.results {
  display: flex;
  gap: 10px;
  padding: 50px;
}

.menu-item {
  display: flex;
  gap: 15px;
  align-items: center;
}

.menu-item.disabled {
  color: grey;
  pointer-events: none;
}