#root > main > main > nav {
  justify-content: space-between;
}

#root > main > main > nav > div {
  display: flex;
  gap: 10px;
}

#root > main > main {
  color: black;
  background: white;
  border-top-left-radius: 35px;
  overflow: clip;
}

#root > main > main > nav > div > * {
  margin: 0px;
  max-width: 300px;
}

.results {
  display: flex;
  gap: 15px;
  padding: 0px 50px;
}