#my-apps {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 15px;
}

.bubble.right {
  width: calc(100% - 552px)
}

code.block {
  padding: 15px;
  display: block;
  background: var(--background-main);
  border-radius: 5px;
  margin: 5px 0;
}