:root {
  --nav-height: 100px;
  --font-color: #E0E4FF;
  --font-grey: #8f93ae;
  --font-color-dark: #080227;
  --background-cards: #ffff;
  --background-main: #f3f4ff;
  --background-buttons: #080227;
  --outline-color: #d1d1d1;
  --border-width: 2px;
  --gradient: linear-gradient(to bottom right, #1b1e43 0%, #020310 31%, #000000 100%);
  --white-hover: #f8f8f8;
  --background-buttons-inverted: white;
}

.dark {
  --nav-height: 100px;
  --white-hover: #1c1c1c;
  --font-color: #ededed;
  --font-grey: #525252;
  --font-color-dark: var(--font-color);
  --background-cards: black;
  --background-main: black;
  --background-buttons: #080227;
  --outline-color: #292929;
  --border-width: 2px;
  --gradient: black;
  --background-buttons-inverted: #0d0d0d;

  overflow: clip;
}

.dark #root > nav {
  border-bottom: 1px solid var(--outline-color);
}

.dark #root > main > nav {
  border-right: 1px solid var(--outline-color);
}

.dark .card > .details {
  background: linear-gradient(to top, black 0%, #000000f5 70%, transparent 126%) !important;
}

p {
  opacity: 0.8;
}

body, html {
  margin: 0px;
  font-family: "Poppins";
  height: 100%;
  width: 100%;
  background: black;
  color: var(--font-color);
}

.outline, .outline:focus, button {
  /* border: var(--border-width) solid var(--lightgrey); */
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  outline: 1px solid var(--outline-color);
}

button {
  background: var(--background-buttons);
  color: var(--font-color);
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  box-shadow: 0 0 10px var(--lightgrey);
  transition: background 10ms ease-in-out;
}



button:hover {
  background: #0f0443;
}

.dark button, button.inverted {
  background: var(--background-buttons-inverted) !important;
  color: var(--font-color-dark) !important;
}

button.inverted:hover, .dark button:hover {
  background: var(--white-hover) !important;
}

button.disabled {
  color: var(--font-grey) !important;
  cursor: not-allowed;
}

#root {
  height: 100%;
  background: rgb(2,0,36);
  background: var(--gradient);
}

nav {
  height: var(--nav-height);
  display: flex;
  padding: 0 40px;
  align-items: center;
  justify-content: flex-end;
}

main {
  width: 100%;
  height: 100%;
}

#root > main {
  min-height: calc(100% - var(--nav-height));
}

pre:has(code) {
  background: #ededed;
  padding: 40px;
  border-radius: 5px;
}

code {
  white-space: pre-wrap;
  width: 100%;
}

a, button, .pointer {
  cursor: pointer;
}

a.disabled {
  color: var(--font-grey);
  cursor: not-allowed;
}

div.form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.gap-10 { gap: 10px; }
.gap-20 { gap: 20px; }
.gap-30 { gap: 30px; }

.bubble {
  border-radius: 15px;
  background: var(--background-cards);
  padding: 50px;
  color: var(--font-color-dark);
}

h1 {
  margin: 0px;
}

input,
select, 
textarea {
  padding: 10px 15px;
  border-radius: 5px;
  background: var(--background-buttons-inverted);
  border: none;
  width: calc(100% - 30px);
  resize: none;
  font-family: "Poppins";
  color: var(--font-color-dark);
}

.form input,
.form select,
.form textarea {
  background: var(--background-main);
  outline: 1px solid var(--outline-color);
  color: var(--font-color-dark);
}

textarea {
  height: 6em;
}

select {
  width: 100%;
}

.field {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.field > .field-title,
.field label {
  color: var(--font-color-grey);
  font-size: 0.8em;
}

.field .field-title.right,
.field label {
  color: var(--font-color-dark);
}

.form .field-title.right {
  position:absolute;
  right: 0px;
  cursor: pointer;
}

.form .field-title.right:hover {
  text-decoration: underline;
}

input[type="checkbox"] {
  vertical-align: middle;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

h1#title {
  position: absolute;
  top: 22px;
  left: 55px;
  font-size: 2.2em;
}

#root > main > nav {
  display: flex;
  flex-direction: column;
  width: 210px;
  padding: 50px !important;
  height: calc(100% - 100px) !important;
  justify-content: flex-start;
  gap: 10px;
  align-items: flex-start;
}

#root > nav {
  gap: 30px;
}

#root > main {
  padding: 0px;
  display: flex;
  width: 100%;
  height: calc(100% - var(--nav-height));
}

#root > main > main {
  color: var(--font-color-dark);
  background: var(--background-main);
  overflow-y: scroll;
  border-top-left-radius: 35px;
}

.dark #root > main > main {
  border-top-left-radius: 0px !important;
}

.menu-item {
  display: flex;
  gap: 15px;
  align-items: center;
  color: var(--font-color);
  text-decoration: none;
}

#root > main > main > .cols.equal {
  gap: 15px;
}

#root > main > main > .cols.equal > * {
  flex-basis: 50%;
}

#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  z-index: 99;
  transition: opacity 50ms ease-in-out, scale 200ms ease-in-out;
  opacity: 1;
  scale: 1;
  max-height: 60vh;
  overflow-y: auto;
}

#popup.disabled {
  opacity: 0;
  scale: 0.8;
  transform: translate(-50%, -50%);
  transition: none;
  pointer-events: none;
}

#screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  z-index: 98;
  transition: all 300ms ease-in-out;
}

#screen.disabled {
  pointer-events: none;
  backdrop-filter: none;
}

.cols {
  display: flex;
  gap: 50px;
}

.bubble.transparent {
  background: transparent;
}

.field .guide {
  position: absolute;
  top: 0px;
  right: 0px;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

#logger, .field .guide {
  font-size: 0.7em;
  color: var(--font-color-dark);
}

.field:has(input:invalid) .guide {
  opacity: 1;
}

.dropdown {
  position: relative;
}

.dropdown > button {
  height: 100%;
  margin-top: 0px !important;
}

.dropdown-menu {
  position: absolute;
  border-radius: 5px;
  top: 51px;
  background: var(--background-cards);
  color: var(--font-color-dark);
  padding: 20px;
  z-index: 97;
  width: 180px;
}

.dropdown-menu label {
  display: flex;
  gap: 5px;
}

.dropdown-menu label > * {
  width: fit-content;
}

#root > nav > div#right {
  display: flex;
  gap: 15px;
  flex-direction: row;
  align-items: center;
}

.syn::after {
  content: "";
  position: relative;
  display: inline-block;
  right: -5px;
  transform: translate(0, -10%);
  vertical-align: middle;
  width: var(--syn-radius, 20px);
  height: var(--syn-radius, 20px);
  aspect-ratio: 1 / 1;
  background-image: url("https://api.connectome.fr/assets/SYN.png");
  z-index: 99;
  background-size: contain;
}