:root {
  --nav-height: 100px;
  --font-color: #E0E4FF;
  --font-grey: #8f93ae;
  --font-color-dark: #080227;
  --background-main: #f3f4ff;
  --border-width: 2px;
  --gradient: linear-gradient(to bottom right, #1b1e43 0%, #020310 31%, #000000 100%);
}

body, html {
  margin: 0px;
  font-family: "Poppins";
  height: 100%;
  width: 100%;
  background: black;
  color: var(--font-color);
}

.outline {
  /* border: var(--border-width) solid var(--lightgrey); */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

button {
  box-shadow: 0 0 10px var(--lightgrey);
}

#root {
  height: 100%;
  background: rgb(2,0,36);
  background: var(--gradient);
}

nav {
  height: var(--nav-height);
  display: flex;
  padding: 0 40px;
  align-items: center;
  justify-content: flex-end;
}

main {
  width: 100%;
  height: 100%;
}

#root > main {
  min-height: calc(100% - var(--nav-height));
}

pre:has(code) {
  background: #ededed;
  padding: 40px;
  border-radius: 5px;
}

code {
  white-space: pre-wrap;
  width: 100%;
}

button.disabled {
  background: gray;
  color: gray !important;
  cursor: not-allowed;
}

*:focus {
  outline: none;
}

a {
  cursor: pointer;
}

a.disabled {
  color: var(--font-grey);
  cursor: not-allowed;
}

div.form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.bubble {
  border-radius: 15px;
  background: white;
  padding: 50px;
  color: black;
}

h1 {
  margin: 0px;
}

input,
select, 
textarea {
  padding: 10px 15px;
  border-radius: 5px;
  background: white;
  border: none;
  width: calc(100% - 30px);
  resize: none;
  font-family: "Poppins";
}

.form input,
.form select,
.form textarea {
  background: var(--background-main);
}

textarea {
  height: 6em;
}

select {
  width: 100%;
}

button {
  background: var(--font-color-dark);
  color: var(--font-color);
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.field {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.field > .field-title,
.field label {
  color: var(--font-color-grey);
  font-size: 0.8em;
}

.field .field-title.right,
.field label {
  color: var(--font-color-dark);
}

.form .field-title.right {
  position:absolute;
  right: 0px;
  cursor: pointer;
}

.form .field-title.right:hover {
  text-decoration: underline;
}

input[type="checkbox"] {
  vertical-align: middle;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

button.inverted {
  background: white;
  color: var(--font-color-dark);
}

h1#title {
  position: absolute;
  top: 22px;
  left: 55px;
  font-size: 2.2em;
}

#root > main > nav {
  display: flex;
  flex-direction: column;
  width: 210px;
  height: calc(100% - 20px);
  justify-content: flex-start;
  gap: 10px;
  padding: 10px 40px;
  padding-left: 55px;
  align-items: flex-start;
}

#root > nav {
  gap: 30px;
}

#root > main {
  padding: 0px;
  display: flex;
  width: 100%;
  height: calc(100% - var(--nav-height));
}

#root > main > main {
  color: var(--font-color-dark);
  background: var(--background-main);
  border-top-left-radius: 35px;
  overflow-y: scroll;
}

.menu-item {
  display: flex;
  gap: 15px;
  align-items: center;
  color: var(--font-color);
  text-decoration: none;
}

#root > main > main > .cols.equal {
  gap: 15px;
}

#root > main > main > .cols.equal > * {
  flex-basis: 50%;
}

#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  z-index: 99;
  transition: opacity 50ms ease-in-out, scale 200ms ease-in-out;
  opacity: 1;
  scale: 1;
  max-height: 60vh;
  overflow-y: auto;
}

#popup.disabled {
  opacity: 0;
  scale: 0.8;
  transform: translate(-50%, -50%);
  transition: none;
  pointer-events: none;
}

#screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  z-index: 98;
  transition: all 300ms ease-in-out;
}

#screen.disabled {
  pointer-events: none;
  backdrop-filter: none;
}

.cols {
  display: flex;
  gap: 50px;
}

.bubble.transparent {
  background: transparent;
}