#root > main > main > nav {
  justify-content: space-between;
}

#root > main > main > nav > div {
  display: flex;
  gap: 10px;
}

#root > main > main > nav > div > * {
  margin: 0px;
}

#root > main > main > nav > div > input {
  width: 300px;
}

.results {
  display: flex;
  gap: 15px;
  padding: 0px 50px;
  overflow-y: scroll;
  height: calc(100% - 99px);
  flex-wrap: wrap;
  padding-top: 1px;
}

#root > main > main:has(.results) {
  overflow-y: clip;
}