#root > main > main > nav {
  justify-content: space-between;
}

#root > main > main > nav > div {
  display: flex;
  gap: 10px;
}

#root > main > main > nav > div > * {
  margin: 0px;
}

#root > main > main > nav > div > input {
  width: 300px;
}

.results {
  display: flex;
  gap: 15px;
  padding: 0px 50px;
  overflow-y: scroll;
  height: calc(100% - 100px);
  flex-wrap: wrap;
}

#root > main > main:has(.results) {
  overflow-y: clip;
}

.dropdown {
  position: relative;
}

.dropdown > button {
  height: 100%;
  margin-top: 0px !important;
}

.dropdown-menu {
  position: absolute;
  border-radius: 5px;
  top: 51px;
  background: white;
  padding: 20px;
  z-index: 97;
  width: 180px;
}

.dropdown-menu label {
  display: flex;
  gap: 5px;
}

.dropdown-menu label > * {
  width: fit-content;
}