a.mention {
  text-decoration: none;
  cursor: pointer;
  padding: 2px 5px;
  border-radius: 6px;
  color: var(--font-color);
  background: linear-gradient(to right, #1b1e43, #000);
}

a.mention:hover {
  text-decoration: underline;
}