a.mention {
  border: var(--border-width) solid var(--lightgrey);
  text-decoration: none;
  cursor: pointer;
  padding: 2px 5px;
  border-radius: 6px;
  color: black;
  background: white;
}

a.mention:hover {
  background: var(--lightgrey);
}