.profile {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 300px;
}

.profile > * {
  margin: 0px;
}

.cols {
  display: flex;
  gap: 50px;
}

.profile .avatar {
  width: 100px;
  height: 100px;
  background: #f2f2f2;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: clip;
}

.profile .badges {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: calc(100% - 20px);
  padding: 10px;
  background: var(--lightgrey);
  border-radius: 10px;
}

.profile .badges > img {
  width: 30px;
  height: 30px;
  flex: 0 0;
}

.profile > .details {
  display: flex;
  flex-direction: column;
}